@using Microsoft.AspNetCore.Identity;
@using SocialMedia.Areas.Identity.Data;
@inject UserManager<User> _user
@model ProfileViewModel

@{
	User user = await _user.FindByIdAsync(Model.Profile.UserId);
}

<section class="container-profile">
	<div class="user">
		<div class="form-group" style="display: flex; justify-content: center">
			@if (Model.Profile.Picture != null)
			{
				<img id="profilePicture" style="width: 200px; height: 200px; object-fit: fill" src="data:image/*;base64,@(Convert.ToBase64String(Model.Profile.Picture))" />
			}
			else
			{
				<img id="profilePicture" style="background-color: darkgrey; width: 200px; height: 200px;" src=".." />
			}
		</div>
		<h1 style="text-align: center">@user.UserName</h1>
		<h5 style="text-align: center">Status: @Model.Profile.Status</h5>
	</div>
	<div class="info">
		<h5>First Name: @Model.Profile.FirstName</h5>
		<h5>Last Name: @Model.Profile.LastName</h5>
		<h5>Birth: @Model.Profile.Birth</h5>
		<div class="btn">
			@{
				if (user.Id == _user.GetUserId(User))
				{
					<input type="button" value="Change" onclick="location.href='@Url.Action("UpdateProfile","Profile")'" />
				}
			}
		</div>
	</div>
	<div class="add-post">
		@await Html.PartialAsync("_PostPartial.cshtml", Model.Post);
		
	</div>
</section>
@*<hr />*@